body{
	width: 1536px;
}
section{
	height: 769px;
	float: left;
}

.colOne{
	width: 22%;
	height: 754.5px;
	background-color: #777777;
	padding: 15px 0px 0px 0px;
}

.colOne >img{
	display: block;
	border:2px solid #ffffff;
	height: 220px;
	width: 220px;
	border-radius: 50% 50%;
	margin: 30px auto 15px auto;
}

.colOne > h1{
	text-align: center;
	text-transform: uppercase;
	color: #EFEFEF;
	font-size: 17px;
	font-family: helvetica;
}

.colOne > h1>small{
	font-size: 14px;
}

.eDit{
	font-size: 12px;
	font-family: arial;
	color: #DBDBDB;
	text-transform: uppercase;
	margin-left: 15px;
	cursor: pointer;
}

.firstList{
	display: block;
	margin-top: 10px;
	margin-left: 10px;							
}

.first{
	margin-right: -5px;
	text-align: center;
	display: inline-block;
	border: 1px solid white;
	padding: 3px 7px;
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	color: #DBDBDB;
}

.secondList{
	margin-top: 15px;
	display: block;
}

.coverImg{
	border:1px solid white;
	height: 20px;
	display: block;
	width: 20px;
	margin-left: 10px;
	border-radius: 100% 100%;
	background-color: #FFFFFF;
	
}


.secondList > label>img{
	margin: 5px auto;
	display: block;
}

.line{
	border:1px solid #929292;
	width: 270px;
	display: inline-block;
	margin-left: 32px;
	margin-top: -10px;
	

}

.notes{
	width: 245px;
	display: inline-block;
	margin-left: 45px;
	margin-right: 25px;
	color: #DBDBDB;
	text-align: left;
	font-size: 13px;
	text-transform: uppercase;
}

.notes p{
	text-align: right;
	margin-top: 5px;
}


#edit{
	border-bottom: none;
}

.colTwo{
	border:none;
	width: 26%;
	background-color: #777777;
	overflow: scroll;
}

.contCol{
	width: 20px;
	float: left;
	height: 769.5px;
	background-color: #4F4F4F;
	position: absolute;
}

.contCol > img{
	margin-top: 336px;
	width:13px;
	margin-left: 4px;
	cursor: pointer;
}

.rowOne{
	display: block;
	margin-top: 10px;
}

.rowOne > a{
	margin-left: 5px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px
}
.rowOne > a > img{
	margin-top: 2px;
}

.rowOne >label >img{
	margin-right: 5px;
	cursor: pointer;
}
.others{
	margin-top: 20px;
	display: block;
	cursor: pointer;
	-webkit-transition: background 250ms ease-in-out;
	-moz-transition: background 250ms ease-in-out;
	-o-transition: background 250ms ease-in-out;
}
.others:hover{
	color: #777777;
	background-color: #ECECEC;
}
.others:hover .othersOne>span{
	color: #777777;
}
.othersOne >img{
	height: 100px;
	width: 100px;
	background-color: #ffffff;
	margin: 10px 0px 0px 30px;
}

.othersOne > span{
	height: 100px;
	width: 220px;
	display: block;
	margin-top: 10px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: tahoma;
	color: #ffffff;
	float: right;
	margin-right: 10px;
}
 
.othersTwo{
	margin-top: 10px;
	text-transform: capitalize;
	font-size: 15px;
	color:#BABABA; 
}

.date{
	text-align: left;
	margin-left: 30px;
}

.date>img{
	margin-top: 3px;
}


.views{
	text-align: left;
	margin-left: 125px;
}

.views>img{
	margin-top: 1px;
}


.colThree{
	width: 52%;
	border:none;
}

.title{
	padding-top: 50px;
	display: block;
	background: url(../img/wow2.jpg) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
	height: 230px;
}

.inTitle{
	display: block;
	text-transform: capitalize;
	font-family: arial;
	color: #DBDBDB;
}

.inTitle>h2{
	font-size: 60px;
	font-weight: bolder;
	font-family: helvetica;
	color: #ffffff;
}

.inTitle>h2>small{
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
}

.inTitle>h1{
	font-size: 25px;
	text-transform: capitalize;
	font-weight: normal;
	font-family: helvetica;
	color: #ffffff;;
}

.story{
	height: 439px;
	padding: 25px;
	background-color: #ECECEC;
}

.inTitle> hr{
	border:2px solid #ffffff;
	width: 345px;
}

hr{
	width: 340px;
	border:1px solid #828282
}


.clear{
	clear: both;
}

